{{!--
<h1>Quagga</h1>

code: {{code}}

<div class="">
  {{input type="file" accept="image/*" change=(action 'change')}}

  <div class="">
    <img src="" height="200">
  </div>
</div>
--}}

{{outlet}}
